<% content_for :title, "Editing forum forum" %>

<h1>Editing Forum(Admin)</h1>

<%= render "form", admin_forum_forum: @admin_forum_forum %>

<br>

<div>
  <%= link_to "Show this forum forum", admin_forum_forum_path(@admin_forum_forum) %> |
  <%= link_to "Back to forum forums", admin_forum_forums_path %>
</div>
