<% content_for :title, "New forum forum" %>

<h1>New forum forum</h1>

<%= render "form", admin_forum_forum: @admin_forum_forum %>

<br>

<div>
  <%= link_to "Back to forum forums", admin_forum_forums_path %>
</div>
