<div id="<%= dom_id forum_forum %>" class="forum_subforum_thread">
  <p>
    <strong>Name:</strong>
    <%= forum_forum.name %>
  </p>

  <p>
    <strong>Admin user:</strong>
    <%= forum_forum.admin_user_id %>
  </p>

</div>
