<p style="color: green"><%= notice %></p>

<%= render @forum_forum %>
<br>
<h2>Subforums that belong to this Forum</h2>
<% @forum_subforums.each do |forum_subforum|%>
  <%= render partial: "forum_subforums/forum_subforum", locals: { forum_subforum: forum_subforum}%>
<% end %>
