<% content_for :title, "Editing forum subforum" %>

<h1>Editing forum subforum</h1>

<%= render "form", admin_forum_subforum: @admin_forum_subforum %>

<br>

<div>
  <%= link_to "Show this forum subforum", @admin_forum_subforum %> |
  <%= link_to "Back to forum subforums", admin_forum_subforums_path %>
</div>
