<div id="<%= dom_id forum_thread %>" class = "forum_subforum_thread">
    <p><b><%= link_to "#{forum_thread.name.capitalize}", forum_thread_path(forum_thread) %></b> by: <b><%= forum_thread.user.username %></b></p>
</div>
<br>