<% content_for :title, "Editing forum thread" %>

<h1>Editing forum thread</h1>

<%= render "form", forum_thread: @forum_thread %>

<br>

<div>
  <%= link_to "Show this forum thread", @forum_thread %> |
  <%= link_to "Back to forum threads", forum_threads_path %>
</div>
