<% content_for :title, "New forum thread" %>

<h1>New forum thread</h1>

<%= render "form", forum_thread: @forum_thread %>

<br>

<div>
  <%= link_to "Back to forum threads", forum_threads_path %>
</div>
